/**
* Tab
*/
#nj-header-footer-form label{font-weight: 700;}
.njt-header-footer-admin-tab-controls{
    position: relative;
    z-index: 1;
    margin-top: 10px;
}
.njt-header-footer-admin-tab-controls .njt-header-footer-admin-tab-control{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #dfdfdf;
    cursor: pointer;
}
.njt-header-footer-admin-tab-controls .njt-header-footer-admin-tab-control.active{
    border-bottom-color: #ffffff;
    background: #ffffff;
}
.njt-header-footer-admin-tab-contents{
    padding: 1px 20px;
    border: 1px solid #dfdfdf;
    margin-top: -1px;
    background: #fff;
}
.njt-header-footer-admin-tab-contents .njt-header-footer-admin-tab-content{
    display: none;
}
.njt-header-footer-admin-tab-contents .njt-header-footer-admin-tab-content.active{
    display: block;
}
/** ****/

.postbox .description{margin-top: 13px; margin-left: 15px;}
.njt-hf #poststuff #post-body-content .inside{padding-left: 0; margin-top: 0;}
.njt-hf .postbox-container{text-align: center;}
.CodeMirror{border-bottom: 1px solid #eee;}